{% extends 'user.html' %}
{% block content %}
    {% load static %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}" style="background-image: url(&quot;img/breadcrumb.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                 
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    
                    <table>
                        <thead>
                            <tr>
                                <th>Products</th>
                                
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>
                                    <img src="{{i.productid.productImage.url}}" alt="">
                                    <h5>{{i.productid.productName}}</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    {{i.productid.productPrice}}
                                </td>
                                <td class="shoping__cart__quantity">
                                   {{i.quantity}}
                                    
                                   
                                </td>
                                <td class="shoping__cart__total">
                                    {{i.total}}
                                </td>
                                <td class="shoping__cart__item__close">
                                  <a href="{% url 'cartdelete' id=i.id %}"> <span class="icon_close"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                   
                  
                        <a href="{% url 'product_list' category='all' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                </div>
            </div>
       
            <div class="col-lg-12">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    {% for i in s %}
                    <ul>
                       
                        <li>Total <span>{{s.total__sum}}</span></li>
                    </ul>
                    {% endfor %}
                    <button class="col-lg-12" type="submit" style="border: 2px solid #3f9749; background-color: #3f9749; color: #3f9749; font-size: 16px; padding: 12px 24px; cursor: pointer; text-transform: uppercase;align-content: center;">
                        <a href="{% url 'booking' %}" style="text-decoration: none; color: white;">
                            PROCEED TO CHECKOUT
                        </a>
                    </button>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

