{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="bg-secondary rounded p-4">
                <h6 class="mb-4">PRODUCTS</h6>
                <div style="height: 400px; overflow: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NAME</th>
                            
                            <th scope="col">PRODUCT</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Address</th>

                            <th scope="col">CITY</th>
                            <th scope="col">STATUS</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.userid.Username}}</td>

                            <td>{{i.cartid.productid.productName}}</td>
                           
                            <td>{{i.cartid.quantity}}</td>
                            <td>{{i.cartid.total}}</td>
                            <td>{{i.Address}}</td>
                            <td>{{i.City}}</td>
                            <td>Delivered</td>

                            
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
